@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.featured h1,
.featured h2 {
  color: #ec8080;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, "Raleway", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-image: linear-gradient(to right, #39101b, #150033);
}

.container {
  max-width: 1240px;
  margin: auto;
}