@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
footer {
  background-image: linear-gradient(to bottom, #39101b, #150033);
}

footer h1 {
  color: #ec8080;
}

.footerCover {
  margin-top: 5rem;
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.footerCover span {
  font-size: 30px;
  padding: 1rem;
  margin: 0rem 2rem;
  text-align: center;
  background: rgba(15, 1, 1, 0.5411764706);
  border-radius: 10%;
  color: #640f7b;
  transition: 0.5s;
}

.footerCover span:hover {
  color: rgba(233, 233, 64, 0.6);
  box-shadow: -1px 10px 23px 7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 10px 23px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 23px 7px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 906px) {
  .footer {
    flex-direction: column;
  }

  footer h1 {
    margin-bottom: 20vh;
    font-size: 50px;
  }

  .footer span {
    font-size: 40px;
  }
}
@media screen and (max-width: 906px) {
  .footer span {
    margin-bottom: 1.5rem;
    font-size: 6vw;
  }
}