$white: #fff;
$color: #e86d32;

@mixin shadow{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@mixin shadowHero{
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform:  translateX(-100px);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}