
@import "../../index.scss";

/* 
MENU 
*/


.containerSlider ul li {
    cursor: pointer;
    transition: 0.7s ease;
    //background-color: aqua;
    padding: 1vw;
    &:hover {
     color: $white;
    }
  }

  .activeMenu{
   
      background-color: $mainColor2;
        border-radius: 15% 15% 0 0;
    
  }

/*
a {
  color: white;
}*/

.containerSlider{
    width: 100vw;
    min-height: 100vh;
    border: 1px solid red;
}
.containerSlider ul {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  //padding: 5vw 1vw;
  color: $galleryTabs;
}



.gallery {
  display: none;
  height: 100%;
  width: 100%;
}

.activeS {
  display: flex;
}

.activeS span {

  overflow: hidden;
  & img {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.gallery {
  display: none; 
}

.activeS {
  display: block;

}

/*¨
TABS
*/

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 94vh;
  background-image: linear-gradient(to top, $mainColor1, $mainColor2);
  
}
.img-cover {
  max-width: 100%;
  max-height: 98%;
  border: 3px inset $white;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: $white;
}

@media screen and (max-width: 760px){
    .menu-tabs .tabs{
        font-size: 4vw;
    }
}
