
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    height: 300px;
  
}

footer h1{
    //margin: 1rem;
    color: #ec8080;;
}

.footerCover{
    
    margin: 0 auto;
    display: flex;
    width: 100%;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
  
}

.footerCover span{
  font-size: 30px;
  padding: 1rem;
  margin: 0rem 2rem;
  text-align: center;
  background: #0f01018a;
  border-radius: 10%;
  color: #640f7b;
  transition: .5s;
}

.footerCover span:hover{
    color: rgba(233, 233, 64, 0.6);
    box-shadow: -1px 10px 23px 7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 23px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 23px 7px rgba(0,0,0,0.75);
}

@media screen and (max-width: 906px) {

    .footer{
        flex-direction: column;
        
    }
    footer h1{
        margin-bottom: 10vh;
        font-size: 50px;
    }

    .footer span{
       
        font-size: 40px;
    }
}

@media screen and (max-width: 906px) {
  
    .footerCover span p {
        font-size: 4vw;
    }

}

@media screen and (max-width: 660px) {
  footer{
      height: auto;
    }

   .footerCover{
       flex-direction: column;
       
   }

   .footerCover span{
       margin: 1rem;
   }

}
