@import '../general.scss';

footer h1{
    margin: 1rem;
}

.footer{
    margin: 0 auto;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 10vh;
   margin-bottom: 5vh;
}

.footer span{
  font-size: 30px;
  padding: 1rem;
  margin: 0rem 2rem;
  text-align: center;
 
  background: #333;
  border-radius: 10%;
 // font-size: 30px;
  color: #666;
  
  transition: .5s;
}

.footer span:hover{
    color: rgba(233, 233, 64, 0.6);
    box-shadow: -1px 10px 23px 7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 23px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 23px 7px rgba(0,0,0,0.75);
}

@media screen and (max-width: 906px) {

    .footer{
        flex-direction: column;
        
    }
    footer h1{
        margin-bottom: 20vh;
        font-size: 50px;
    }

    .footer span{
       
        font-size: 40px;
    }
}

@media screen and (max-width: 906px) {
    .footer span{
       
        font-size: 6vw;
    }

}