$mainColor1: #39101b;
$mainColor2: #150033;

$white: #fff;
$color: #e86d32;

$galleryTabs: #aa3e3e;


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}


ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}
h1{
  text-align: center;
}

.featured h1,
.featured h2{
    color: #ec8080;
}

body {
  margin: 0;
  font-family:'Open Sans', sans-serif,'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-image: linear-gradient(to right, $mainColor1, $mainColor2);
}

.container{
  max-width: 1240px;
  margin: auto;
  
}

@mixin shadow{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@mixin shadowHero{
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

@keyframes moveInLeft{
  0% {
      opacity: 0;
      transform:  translateX(-100px);
  }

  80%{
      transform: translateX(10px);
  }

  100%{
      opacity: 1;
      transform: translate(0);
  }
}