
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}


ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}
h1{
  text-align: center;
  
}


body {
  margin: 0;
  font-family:'Open Sans', sans-serif,'Raleway', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-image: linear-gradient(to right, #434343 0%, rgb(44, 18, 148) 100%);
  background-image: linear-gradient(to right, #434343 0%, #14b2d787 100%);
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.container{
  max-width: 1240px;
  margin: auto;
  
}